<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ClassDesign</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>Jurisdiction</filter-name>
    <filter-class>com.user.filter.JurisdictionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Jurisdiction</filter-name>
    <url-pattern>/classDesign/AddStudent.jsp</url-pattern>
    <url-pattern>/classDesign/AlterStudent.jsp</url-pattern>
    <url-pattern>/classDesign/DeleteStudent.jsp</url-pattern>
    <url-pattern>/classDesign/SelectStudent.jsp</url-pattern>
    <url-pattern>/classDesign/Welcome.jsp</url-pattern>
    <url-pattern>/ReturnMessageJSP/DeleteMessage.jsp</url-pattern>
    <url-pattern>/ReturnMessageJSP/SelectMessage.jsp</url-pattern>
     <url-pattern>/ReturnMessageJSP/AlterError.jsp</url-pattern>
    <url-pattern>/ReturnMessageJSP/ShowAlterMessage.jsp</url-pattern>
   <url-pattern>/ReturnMessageJSP/AlterMessage.jsp</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.user.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AddStudentMessageFilter</filter-name>
    <filter-class>com.user.filter.AddStudentMessageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddStudentMessageFilter</filter-name>
    <url-pattern>/AddStudentServlet</url-pattern>
   
  </filter-mapping>
  
  <filter>
    <filter-name>AlterStudentMessageServlet</filter-name>
    <filter-class>com.user.filter.AlterStudentMessage</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AlterStudentMessageServlet</filter-name>
    <url-pattern>/AlterStudentMessageServlet</url-pattern>
  </filter-mapping>
  
  
  <filter>
    <filter-name>RegisterFilter</filter-name>
    <filter-class>com.user.filter.RegisterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegisterFilter</filter-name>
    <url-pattern>/RegisterServelt</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.user.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.user.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.user.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CloseSessionServlet</servlet-name>
    <servlet-class>com.user.servlet.CloseSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseSessionServlet</servlet-name>
    <url-pattern>/CloseSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectStudentServlet</servlet-name>
    <servlet-class>com.user.servlet.SelectStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectStudentServlet</servlet-name>
    <url-pattern>/SelectStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectAllMessageServlet</servlet-name>
    <servlet-class>com.user.servlet.SelectAllMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllMessageServlet</servlet-name>
    <url-pattern>/SelectAllMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.user.servlet.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <servlet-class>com.user.servlet.DeleteMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <url-pattern>/DeleteMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlterStudentServlet</servlet-name>
    <servlet-class>com.user.servlet.AlterStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterStudentServlet</servlet-name>
    <url-pattern>/AlterStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlterStudentMessageServlet</servlet-name>
    <servlet-class>com.user.servlet.AlterStudentMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterStudentMessageServlet</servlet-name>
    <url-pattern>/AlterStudentMessageServlet</url-pattern>
  </servlet-mapping>
</web-app>